<h1>Mis Tareas</h1>

<table class="table table-hover"></table>
	<thead class="thead-dark">
		<th>Tarea</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<% @tareas.each do |tarea|%>

	<tr>
		<td><%= link_to tarea.titulo, {controller: "tareas", action: "show", id: "tarea.id"}%></td>
		<td><button class="btn btn-warning">Editar</button></td>
		<td><%= link_to "Eliminar", {controller: "tareas", action: "destroy", id: "tarea.id"}, method: "delete", data: {confirm: "estas seguro?"}, class: "btn btn-danger"%></td>
	</tr>

	<% end %>
</table>
