<%= form_for(@tarea) do |f|%>
	<div class="form-group">
		<label>Titulo</label>
		<%=f.text_field :titulo, class: "form-control" %>
		<!--<input type="text" name="titulo" class="form-control">-->
	</div>
	<div class="form-group">
		<label>Descripción</label>
		<%= f.text_area : "form-control" %>
	</div>
	<%= f.submit "crear", class: "btn btn-success"%>
<% end %>