<div class="card">
	<div class="card-body">
		<div class="casrd-title">
			<h2><%= @tarea.titulo %></h2>	
		</div>
	</div>
		<div class="card-text">
			<p><%= @tarea.descripcion %></p>
		</div>
</div>

<% unless @tarea.usuario.nil? %>
<p>Escrito por: <%= @tarea.usuario.email %></p>
	<% end %>

